.fondo{
    background-color: #1B2631;
}
.texto{
    color: white;
}
.titulo{
    text-align: center;
}
.fuente{
    font-family: 'Kalam', cursive;;
    font-size: 22px;
}
.fuente2{
    font-family: 'Kalam', cursive;;
    font-size: 18px;
}
